.navbar {
    background: steelblue;
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center !important;
}

.navbar-brand {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

li {
    display: inline-block;
    font-size: 35px;
    color: white;
    font-family: 'Federant', cursive;
}

.instructions {
    color: white;
    font-family: 'Federant', cursive;
    font-size: 30px;
}

/****************MEDIA QUERIES******************/
/** desktop layout size **/
/** changed size from 882px to 980px **/
@media screen and (max-width: 980px) {
    .navbar {
        height: 115px;
    }
}

/** tablet screen size **/
@media screen and (max-width: 768px) {
    /** 576px to 691px **/
    .navbar {
        height: 140px;
    }
}

/** phone in landscape screen size **/
@media screen and (max-width: 640px) {
    /** changes size from 576px to ----px **/
    li {
        font-size: 30px;
    }
    .navbar {
        height: 155px;
    }
}